body{
    background-color: black;
}
.container{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.title{
    border: 1px solid red;
    color: red;
    
}

.vs{
    border: 1px solid orange;
    color: orange;
}

.buttons{
    border: 1px solid yellow;
    color: yellow;
}

.clear{
    border: 1px solid green;
    color: green;
}

.history{
    border: 1px solid blue;
    color: blue;
}