body{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to right, #fe0000, orange, #fdfe02, #0bff01, #011efe, #fe00f6);
}
h1{
    font-size: 3.5rem;
    color: black;
}
.choices{
    margin-bottom: 30px;
}
.choices button{
    font-size: 7.5em;
    min-width: 160px;
    margin: 0 10px;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    transition: background-color 0.5s ease;

}
.choices button:hover{
    background-color: gray;
}
#playerDisplay, #computerDisplay{
    font-size: 2.5em;
}
#resultDisplay{
    font-size: 5rem;
    margin: 30px 0;
}
.scoreDisplay{
    font-size: 2rem;
}
.greenText, #playerScoreDisplay{
    color: green;
}
.redText, #computerScoreDisplay{
    color: red;
}
.darkText{
    color: black;
}
#buttons101{
    width: 100px;
}
#Reset{
    width: 250px;
    height: 250px;
    font-size: 50px;
}